<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>excursionTitle</key>
		<string>Istanbul in 1 day: The most popular route</string>
		<key>shortTitle</key>
		<string>Istanbul in 1 day</string>
		<key>excursionDuration</key>
		<string>1 day</string>
		<key>routeDistance</key>
		<string>6 km</string>
		<key>transportType</key>
		<string>on foot</string>
		<key>filenamePrefix</key>
		<string>IstambulInOneDay</string>
		<key>mapScreenCoordinates</key>
		<dict>
			<key>latitude</key>
			<real>41.011225</real>
			<key>longitude</key>
			<real>28.978151</real>
		</dict>
		<key>tours</key>
		<array>
			<dict>
				<key>tourTitle</key>
				<string>Sirkeci Railway station</string>
				<key>latitude</key>
				<real>41.015282</real>
				<key>longitude</key>
				<real>28.976644</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Byzantium, Constantinople, Istanbul</string>
				<key>latitude</key>
				<real>41.016342</real>
				<key>longitude</key>
				<real>28.979745</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Golden Horn</string>
				<key>latitude</key>
				<real>41.017407</real>
				<key>longitude</key>
				<real>28.985490</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Bosphorus Strait</string>
				<key>latitude</key>
				<real>41.016742</real>
				<key>longitude</key>
				<real>28.986961</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>View of the Maiden Tower</string>
				<key>latitude</key>
				<real>41.016722</real>
				<key>longitude</key>
				<real>28.986096</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Gulhane Park</string>
				<key>latitude</key>
				<real>41.01343</real>
				<key>longitude</key>
				<real>28.981538</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Gothic column</string>
				<key>latitude</key>
				<real>41.014530</real>
				<key>longitude</key>
				<real>28.985484</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Topkapi Palace</string>
				<key>latitude</key>
				<real>41.012768</real>
				<key>longitude</key>
				<real>28.984042</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Harem of Topkapi Palace</string>
				<key>latitude</key>
				<real>41.013463</real>
				<key>longitude</key>
				<real>28.983699</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The tulip is the main flower of the Ottoman Empire</string>
				<key>latitude</key>
				<real>41.012554</real>
				<key>longitude</key>
				<real>28.980956</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Istanbul Archaeological Museum.</string>
				<key>latitude</key>
				<real>41.011601</real>
				<key>longitude</key>
				<real>28.981526</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The first courtyard of Topkapi</string>
				<key>latitude</key>
				<real>41.011860</real>
				<key>longitude</key>
				<real>28.983715</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Gate of greetings</string>
				<key>latitude</key>
				<real>41.011500</real>
				<key>longitude</key>
				<real>28.983400</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Mint</string>
				<key>latitude</key>
				<real>41.010300</real>
				<key>longitude</key>
				<real>28.981300</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Church of St. Irene</string>
				<key>latitude</key>
				<real>41.009600</real>
				<key>longitude</key>
				<real>28.981200</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Sultan Gate</string>
				<key>latitude</key>
				<real>41.007782</real>
				<key>longitude</key>
				<real>28.980055</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Fountain of Ahmed III</string>
				<key>latitude</key>
				<real>41.008216</real>
				<key>longitude</key>
				<real>28.981248</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Hagia Sophia</string>
				<key>latitude</key>
				<real>41.008560</real>
				<key>longitude</key>
				<real>28.979945</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Secrets and legends of St. Sophia</string>
				<key>latitude</key>
				<real>41.008560</real>
				<key>longitude</key>
				<real>28.979945</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Sultan&apos;s tombs</string>
				<key>latitude</key>
				<real>41.008498</real>
				<key>longitude</key>
				<real>28.972524</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Augusteion</string>
				<key>latitude</key>
				<real>41.007289</real>
				<key>longitude</key>
				<real>28.978046</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Milion</string>
				<key>latitude</key>
				<real>41.008100</real>
				<key>longitude</key>
				<real>28.977900</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Basilica cistern</string>
				<key>latitude</key>
				<real>41.008372</real>
				<key>longitude</key>
				<real>28.977922</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Sultanahmet Square</string>
				<key>latitude</key>
				<real>41.006591</real>
				<key>longitude</key>
				<real>28.977881</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Baths of Roksolana</string>
				<key>latitude</key>
				<real>41.007223</real>
				<key>longitude</key>
				<real>28.979145</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Blue Mosque</string>
				<key>latitude</key>
				<real>41.005243</real>
				<key>longitude</key>
				<real>28.976806</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Grand Imperial Palace</string>
				<key>latitude</key>
				<real>41.004302</real>
				<key>longitude</key>
				<real>28.977432</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Constantine the Great</string>
				<key>latitude</key>
				<real>41.004410</real>
				<key>longitude</key>
				<real>28.976561</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The hippodrome</string>
				<key>latitude</key>
				<real>41.004697</real>
				<key>longitude</key>
				<real>28.974913</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The obelisk of Constantine</string>
				<key>latitude</key>
				<real>41.005411</real>
				<key>longitude</key>
				<real>28.974837</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Snake column</string>
				<key>latitude</key>
				<real>41.005687</real>
				<key>longitude</key>
				<real>28.975115</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The obelisk of Theodosius</string>
				<key>latitude</key>
				<real>41.005919</real>
				<key>longitude</key>
				<real>28.975335</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Museum of Turkish and Islamic Art</string>
				<key>latitude</key>
				<real>41.006182</real>
				<key>longitude</key>
				<real>28.974936</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>German fountain</string>
				<key>latitude</key>
				<real>41.007095</real>
				<key>longitude</key>
				<real>28.976683</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Firuz-Agha Mosque</string>
				<key>latitude</key>
				<real>41.007867</real>
				<key>longitude</key>
				<real>28.976142</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Divan-Yolu Street</string>
				<key>latitude</key>
				<real>41.008234</real>
				<key>longitude</key>
				<real>28.973677</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The mausoleum of Mahmud II</string>
				<key>latitude</key>
				<real>41.008518</real>
				<key>longitude</key>
				<real>28.972529</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The column of Constantine the Great</string>
				<key>latitude</key>
				<real>41.008571</real>
				<key>longitude</key>
				<real>28.971272</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Chamberlitash Square</string>
				<key>latitude</key>
				<real>41.008683</real>
				<key>longitude</key>
				<real>28.971187</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Kullike Koja Sinan Pasha</string>
				<key>latitude</key>
				<real>41.008800</real>
				<key>longitude</key>
				<real>28.967900</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The former madrasah of Chorlulu Damat Ali Pasha</string>
				<key>latitude</key>
				<real>41.009242</real>
				<key>longitude</key>
				<real>28.968350</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Grand Bazaar</string>
				<key>latitude</key>
				<real>41.010700</real>
				<key>longitude</key>
				<real>28.968100</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Bayezid Mosque</string>
				<key>latitude</key>
				<real>41.009854</real>
				<key>longitude</key>
				<real>28.965593</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Istanbul University</string>
				<key>latitude</key>
				<real>41.012600</real>
				<key>longitude</key>
				<real>28.961800</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Suleymaniye Mosque</string>
				<key>latitude</key>
				<real>41.016099</real>
				<key>longitude</key>
				<real>28.963962</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Suleiman the Magnificent and his Hurrem</string>
				<key>latitude</key>
				<real>41.015743</real>
				<key>longitude</key>
				<real>28.964452</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Turkish coffee</string>
				<key>latitude</key>
				<real>41.015083</real>
				<key>longitude</key>
				<real>28.967355</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Buyuk Valide Sultan Khan</string>
				<key>latitude</key>
				<real>41.013806</real>
				<key>longitude</key>
				<real>28.968417</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Egyptian bazaar</string>
				<key>latitude</key>
				<real>41.016389</real>
				<key>longitude</key>
				<real>28.970556</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Yeni-Jami</string>
				<key>latitude</key>
				<real>41.016855</real>
				<key>longitude</key>
				<real>28.972155</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>excursionTitle</key>
		<string>From Galata Bridge to Taksim Square</string>
		<key>shortTitle</key>
		<string>Istanbul. Beyoglu</string>
		<key>excursionDuration</key>
		<string>1 day</string>
		<key>routeDistance</key>
		<string>3 km</string>
		<key>transportType</key>
		<string>on foot</string>
		<key>filenamePrefix</key>
		<string>Beyoglu</string>
		<key>mapScreenCoordinates</key>
		<dict>
			<key>latitude</key>
			<real>41.011225</real>
			<key>longitude</key>
			<real>28.978151</real>
		</dict>
		<key>tours</key>
		<array>
			<dict>
				<key>tourTitle</key>
				<string>Galata Bridge</string>
				<key>latitude</key>
				<real>41.02021784638747</real>
				<key>longitude</key>
				<real>28.97316645386479</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Karayoi district</string>
				<key>latitude</key>
				<real>41.022393</real>
				<key>longitude</key>
				<real>28.974789</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Karaköl Beyoglu Tunnel</string>
				<key>latitude</key>
				<real>41.02307123667627</real>
				<key>longitude</key>
				<real>28.97418265216136</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Galata District</string>
				<key>latitude</key>
				<real>41.025658</real>
				<key>longitude</key>
				<real>28.974155</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Ashkenazi synagogue. Jewish Quarter</string>
				<key>latitude</key>
				<real>41.02561</real>
				<key>longitude</key>
				<real>28.97401</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Galata Tower</string>
				<key>latitude</key>
				<real>41.02573075338267</real>
				<key>longitude</key>
				<real>28.97433819988716</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Galib-Dede street</string>
				<key>latitude</key>
				<real>41.0266998172043</real>
				<key>longitude</key>
				<real>28.9745737474927</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Galata Cloister of Mavlevi</string>
				<key>latitude</key>
				<real>41.02811547283998</real>
				<key>longitude</key>
				<real>28.97505190497478</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Istiklal Street</string>
				<key>latitude</key>
				<real>41.02881988631390</real>
				<key>longitude</key>
				<real>28.97484440270009</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Normans Khan</string>
				<key>latitude</key>
				<real>41.02908813020771</real>
				<key>longitude</key>
				<real>28.97481646859364</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Consulate General of the Russian Federation</string>
				<key>latitude</key>
				<real>41.0302202749316</real>
				<key>longitude</key>
				<real>28.97572806614743</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Russians in Istanbul</string>
				<key>latitude</key>
				<real>41.03039063589064</real>
				<key>longitude</key>
				<real>28.97470395461194</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Korpi Palace</string>
				<key>latitude</key>
				<real>41.03031363782122</real>
				<key>longitude</key>
				<real>28.97308358605471</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Pera Palace Hotel</string>
				<key>latitude</key>
				<real>41.03105474052515</real>
				<key>longitude</key>
				<real>28.97360031774394</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Pera district</string>
				<key>latitude</key>
				<real>41.031451</real>
				<key>longitude</key>
				<real>28.974616</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Pera Museum</string>
				<key>latitude</key>
				<real>41.031800</real>
				<key>longitude</key>
				<real>28.975200</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Streetcar on Istiklal Street</string>
				<key>latitude</key>
				<real>41.03199795011016</real>
				<key>longitude</key>
				<real>28.97622863204358</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Church of Anthony of Padua</string>
				<key>latitude</key>
				<real>41.032300</real>
				<key>longitude</key>
				<real>28.977100</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Cultural Center of Japa Kredi Bank</string>
				<key>latitude</key>
				<real>41.03326356212207</real>
				<key>longitude</key>
				<real>28.97705157511923</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Galatasaray Lyceum</string>
				<key>latitude</key>
				<real>41.03270534842007</real>
				<key>longitude</key>
				<real>28.97883142871547</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Flower Passage</string>
				<key>latitude</key>
				<real>41.033900</real>
				<key>longitude</key>
				<real>28.978100</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>European Passage</string>
				<key>latitude</key>
				<real>41.03424523683393</real>
				<key>longitude</key>
				<real>28.97704519583535</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Atlas Passage</string>
				<key>latitude</key>
				<real>41.03424042474136</real>
				<key>longitude</key>
				<real>28.97927798716283</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Hüseyin-Agi Mosque</string>
				<key>latitude</key>
				<real>41.03526539306449</real>
				<key>longitude</key>
				<real>28.98068145603959</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Hadji Bekir&apos;s Confectionery</string>
				<key>latitude</key>
				<real>41.03501516753035</real>
				<key>longitude</key>
				<real>28.98143422566093</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Turkish sweets</string>
				<key>latitude</key>
				<real>41.03539531748592</real>
				<key>longitude</key>
				<real>28.98200199257873</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Church of the Holy Trinity</string>
				<key>latitude</key>
				<real>41.03566960155344</real>
				<key>longitude</key>
				<real>28.9842985781357</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Taksim Maxemi</string>
				<key>latitude</key>
				<real>41.03630478127591</real>
				<key>longitude</key>
				<real>28.98426668111785</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Monument of the Republic.</string>
				<key>latitude</key>
				<real>41.03693514297986</real>
				<key>longitude</key>
				<real>28.98503220961317</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Taksim Square</string>
				<key>latitude</key>
				<real>41.037000</real>
				<key>longitude</key>
				<real>28.985100</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>excursionTitle</key>
		<string>Non-touristic Istanbul and the heritage of Constantinople</string>
		<key>shortTitle</key>
		<string>Non-touristic Istanbul</string>
		<key>excursionDuration</key>
		<string>1 day</string>
		<key>routeDistance</key>
		<string>7 km</string>
		<key>transportType</key>
		<string>on foot</string>
		<key>filenamePrefix</key>
		<string>NontouristicIstanbul</string>
		<key>mapScreenCoordinates</key>
		<dict>
			<key>latitude</key>
			<real>41.011225</real>
			<key>longitude</key>
			<real>28.978151</real>
		</dict>
		<key>tours</key>
		<array>
			<dict>
				<key>tourTitle</key>
				<string>Subway &quot;Vesnedzhiler&quot;</string>
				<key>latitude</key>
				<real>41.01285293189557</real>
				<key>longitude</key>
				<real>28.95957196136932</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Aqueduct of Valens</string>
				<key>latitude</key>
				<real>41.01605831675172</real>
				<key>longitude</key>
				<real>28.95567737132751</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The secret church of One Day</string>
				<key>latitude</key>
				<real>40.99551761964978</real>
				<key>longitude</key>
				<real>29.02495918465767</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Small Blachernae Palace</string>
				<key>latitude</key>
				<real>41.033666532</real>
				<key>longitude</key>
				<real>28.93749625</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Theodosian walls</string>
				<key>latitude</key>
				<real>41.031500</real>
				<key>longitude</key>
				<real>28.936300</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Fatih Mosque</string>
				<key>latitude</key>
				<real>41.019600</real>
				<key>longitude</key>
				<real>28.949900</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Church of the Holy Apostles</string>
				<key>latitude</key>
				<real>41.029720</real>
				<key>longitude</key>
				<real>28.948889</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Monument to Mehmed the Conqueror</string>
				<key>latitude</key>
				<real>41.015556</real>
				<key>longitude</key>
				<real>28.954167</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Aqueduct of Valens</string>
				<key>latitude</key>
				<real>41.016000</real>
				<key>longitude</key>
				<real>28.955600</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Gazanfer-agi Madrasah</string>
				<key>latitude</key>
				<real>41.01609131689974</real>
				<key>longitude</key>
				<real>28.95541458547562</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Church of One Day</string>
				<key>latitude</key>
				<real>41.01818546995313</real>
				<key>longitude</key>
				<real>28.95872919884218</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Shep Sefa Khatun Mosque</string>
				<key>latitude</key>
				<real>41.019200</real>
				<key>longitude</key>
				<real>28.958500</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Zeyrek cistern</string>
				<key>latitude</key>
				<real>41.02007810173777</real>
				<key>longitude</key>
				<real>28.95859756742803</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Boulevard and the Ataturk Bridge</string>
				<key>latitude</key>
				<real>41.02154784796925</real>
				<key>longitude</key>
				<real>28.959947985502</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Jibali district</string>
				<key>latitude</key>
				<real>41.02432170785288</real>
				<key>longitude</key>
				<real>28.95957405561107</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Jibali Police Station</string>
				<key>latitude</key>
				<real>41.02628128468834</real>
				<key>longitude</key>
				<real>28.95860876084241</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Greek fire</string>
				<key>latitude</key>
				<real>41.02832666730639</real>
				<key>longitude</key>
				<real>28.95436283850703</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Fanar district</string>
				<key>latitude</key>
				<real>41.150300</real>
				<key>longitude</key>
				<real>28.237400</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>St. George&apos;s Cathedral. The Patriarchate of Constantinople</string>
				<key>latitude</key>
				<real>41.029300</real>
				<key>longitude</key>
				<real>28.951700</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>A double-headed eagle</string>
				<key>latitude</key>
				<real>41.02978347818313</real>
				<key>longitude</key>
				<real>28.95153155679047</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Church of Mary of Mongolia</string>
				<key>latitude</key>
				<real>41.029600</real>
				<key>longitude</key>
				<real>28.949200</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Greek Lyceum</string>
				<key>latitude</key>
				<real>41.02957325646459</real>
				<key>longitude</key>
				<real>28.94900556012639</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Bulgarian Church of St. Stephen</string>
				<key>latitude</key>
				<real>41.031800</real>
				<key>longitude</key>
				<real>28.949700</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Cafe &quot;Agora Meyhanesi&quot;</string>
				<key>latitude</key>
				<real>41.03418024312906</real>
				<key>longitude</key>
				<real>28.94658430745273</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Balat district</string>
				<key>latitude</key>
				<real>41.029200</real>
				<key>longitude</key>
				<real>28.948500</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Cats in Istanbul</string>
				<key>latitude</key>
				<real>41.03714771113506</real>
				<key>longitude</key>
				<real>28.94529958237102</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Blachernae Church</string>
				<key>latitude</key>
				<real>41.038700</real>
				<key>longitude</key>
				<real>28.942800</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Aivaz Effendi Mosque</string>
				<key>latitude</key>
				<real>41.037900</real>
				<key>longitude</key>
				<real>28.941100</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Constantinople walls</string>
				<key>latitude</key>
				<real>41.031500</real>
				<key>longitude</key>
				<real>28.936300</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The area of Blachernae</string>
				<key>latitude</key>
				<real>41.03526187995593</real>
				<key>longitude</key>
				<real>28.93981586278208</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Small Blachernae Palace</string>
				<key>latitude</key>
				<real>41.033800</real>
				<key>longitude</key>
				<real>28.940500</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The capture of Constantinople by the Ottomans</string>
				<key>latitude</key>
				<real>41.013889</real>
				<key>longitude</key>
				<real>28.955556</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>The Monastery of Hora</string>
				<key>latitude</key>
				<real>41.031200</real>
				<key>longitude</key>
				<real>28.939200</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>St. George &apos;s Church</string>
				<key>latitude</key>
				<real>41.029300</real>
				<key>longitude</key>
				<real>28.951700</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Charisian Gate</string>
				<key>latitude</key>
				<real>41.030975</real>
				<key>longitude</key>
				<real>28.935763</real>
			</dict>
			<dict>
				<key>tourTitle</key>
				<string>Mihrimah Sultan Mosque</string>
				<key>latitude</key>
				<real>41.029373</real>
				<key>longitude</key>
				<real>28.935822</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
